body 
{
	background-color: #090921;
	padding: 30px;
	padding-top: 10px;
	color:white;
	font-family: sans-serif;
}

button:focus
{
	outline: none;
}

.item
{
	box-sizing: border-box;
	display: inline-block;
	background-color: transparent;
}

 /*basic-section*/
.one
{
	width:100%;
	height: 100px;
	background-color: transparent;
	display: flex;
	position: relative;
}

.div-set
{
	margin: 0px 3px;
	/*border: 2px solid black;*/
}

.left-side
{
	position: absolute;
	left: 2%;
	top: 0%;
	width: 34%;
	display: flex;
	height: 100%;
	padding:0.5%;
	box-sizing: border-box;
}


.logo
{
	height: 73px;
	width: 68px; 
	font-size: 4.2rem;
}

#title
{
	padding-top: 15px;
	margin-left: 2%;
}

#title span
{
	display: block;
	font-size: 1.2rem;
}

#favourites-tab
{
	margin-left: 25%;
	padding-top: 15px;
	height: 61px;
    width: 76px;
    cursor: pointer;
}

#queue-tab
{
	padding-top: 15px;
	margin-left: 4%;
	
	display: none;
}

#queue-tab button
{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 0.9rem;
	cursor: pointer;
}

.right-side
{
	position: absolute;
	left: 55%;
	top: 0%;
	width: 40%;
	display: flex;
	height: 96px;
	box-sizing: border-box;
}

#search-bar
{
	height: 32px;
	width: 52%; 
	margin-top: 27px; 
	margin-left: 2%;
	position: relative;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #081352;
    
}


#search-bar input
{
	height: 26px;
	margin-left: -4px; 
	border:none;
	width:100%;
	font-size: 1.2rem;
	background-color: transparent;
	color: white;

}

#search-bar input:focus
{
	outline: none;

}

#search-bar button
{
	font-size: 1.2rem;
	height: 32px;
	border:none;
	background-color: transparent;
	margin-top: 0px;
	border-radius: 50%;
	color: white;

}
#search-bar form
{
	display: inline-block;
	width: 72%;
}

.mic
{
	position: absolute;
	left: 87%;

}


#bell-icon
{ 
	margin-left: 7%;
	height: 43px;
	margin-top: 25px;
	position: relative;
	cursor: pointer;

}

#bell-icon i
{
	font-size: 2.2rem;
}

#dot
{
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	left: 65%;
	top: 12%;
}

.profile
{
	border-radius: 50%;
	height: 77px;
	width: 85px;
	margin-left: 9%;
	margin-top: 5px; 
	background-image: url(images/profile.jpg);
	background-size: cover;
}


/*main content*/


.two
{
	width: 67.5%;
	margin-left: 1%;
	height: 1800px;
	margin-top: 2%;
}

.posters
{
    height: 17.2rem;
    width: 100%; 
    display: flex;
    transition: 0.2s ease-in-out;
}

.posters:hover .poster
{
   opacity: 0.8;
}

.poster
{
	height: 270px;
    width: 32%;
    background-size: cover;
    transition: 0.2s ease-in-out;
    background-position: center;
}

.poster img
{
	height: 270px;
    width: 100%;
}

.poster:hover 
{
	transform: scale(1.1);
	filter: brightness(150%);
	opacity: 1;
    box-shadow: 0px 0px 4px 2px;
}

/*latest-releases*/

.latest-releases
{
	height: 18.2rem;
    display: flex;
    position: relative;
    margin-top: 25px;
}

.dropdown-menu
{
	position: absolute;
	left: 21%;
	top: 0%;
	margin-top: 0px;
	font-size: 1.2rem;
	display: inline-block;
}

.font-size
{
	font-size: 1rem;
	text-align: left;
}

#div1
{
	position: absolute;
	top: 60px;
}

.play-icon
{
	position: absolute;
    top: 25px;
    left: 24px;
    z-index: 2;
    color: white;
    width: 40px;
    font-size: 2.8rem;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
}

.pause-icon
{
	position: relative;
	left: -55px;
	top: 5px;
	opacity: 0;
}



.image:hover .play-icon
{
	opacity: 1;
}


#div2
{
	position: absolute;
	top: 167px;
}

#div3
{
	position: absolute;
	top: 60px;
	left: 50%;
}

#div4
{
	position: absolute;
	top: 167px;
	left: 50%;
}
.image
{
	width: 100px;
	height: 100px;
}



.pics
{
	width: 100%;
	height: 100%;

}

.content
{
	height: 44px;
	width: 121px;
	margin-top: 20px;
	position: absolute;
	left: 120px;
}

.content span
{
	display: block;
	line-height: 28px;
	font-size: 1rem;
}

.song-content
{
	width: 49%;
	height: 6.2rem;
	display: flex;
}

.side-pane
{
	position: absolute;
	width: 60px;
	height: 60px;
	left: 80%;
	top: 8%;
}
.side-pane span
{
	display: block;
	font-size: 1.5rem;
	color: white !important;
}


.heading
{
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

/*popular-artists*/

.artist-sec
{
	height: 9.7rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.popular-artist
{
	height: 14rem;
}

.popular-artist p
{
	margin-bottom: -15px;
}

.artists
{
	height: 89.5px;
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.artist-div
{
	height: 150px;
	width: 120px;
	text-align: center;
	position: relative;
	background-position: center;

}
.artist-div img
{
	width: 100%;
	height: 75%;
	border-radius: 50%;
}

.artist-page
{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 2.2rem;
	position: absolute;
	top: 23%;
	left: 31%;
	cursor: pointer;
    display: none;
}


.artist-div:hover .artist-page
{
	display: block;
}



.artist-div p
{
	margin-top: 0px;
	font-weight: 550;
}

/*stations*/

#stations
{
	height: 11%;
	display: flex;
	align-items: center;
	border-radius: 20px;
	position: relative;
	background-color: #081352;
}


.station
{
	    height: 65%;
    width: 126px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: bold;
    margin-left: 2%;
}


/*panel*/

#panel
{
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3%;
	
}

.comp
{
	height: 90%;
	width: 32%;
	font-size: 2.2rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to bottom,yellow,red);
}

.bgs
{
	height: 100%;
	width: 100%;
	opacity: 0.6;
	transition: 0.2s ease-in-out;
}
.bgs:hover
{
	transform: scale(1.2);

}
.text
{
	position: absolute;
	top: 19px;
	left: 66px;
}

/*latest english*/

.english-playlist
{
	height: 9.7rem;
	width: 100%;
	display: flex;
	/*justify-content: space-between;*/

}

.latest-english
{
	height: 14rem;

}

.border-radius
{
	border-radius: 0%;
	height: 153px;
	width: 122px;
	margin-left: 4%;
}

.border-radius img
{
	width: 100%;
	height: 75%;
}

.border-radius p
{
	margin-top: 0px;
	font-size: 0.9rem;
}

.onism
{
	font-weight: 550;
}


/*Queue section*/

.three
{
	width: 30%;
	height: 900px;
	margin-top: 2%;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	margin-left: 1%;

}

.aside
{
	width: 100%;
	height: 100%;
	position: relative;
}

.aside>div
{
	display: block;
	width: 99%;
	
}

.heading
{
	height: 60px;	
	position: relative;
}


.drop-menu
{
	position: absolute;
	left: 69%;
	top: 19%;
	margin-top: 0px;
	font-size: 1.2rem;
	display: inline-block;
}

.dropbutton
{
	cursor: pointer;
	background: none;
	border:none;
	font-size: 1.2rem;	
}

.dropbutton span
{
	color: #58b6e0;
}

.main-head
{
	font-size: 2rem;
	font-weight: bold;
	margin-top: 3px;
	font-family: sans-serif; 
	display: inline-block;
}

.menu
{
	position: absolute;
	left: -120px;
	top: 24px;
	border: 1px solid black;
	background-color: whitesmoke;
	opacity: 0;
	pointer-events: none;
	transition: 0.1s ease-in-out;
}

.menu ul
{
	padding :0px;
	margin: 6px;
	margin-right: 20px;
}

.dropbutton:focus
{
	outline: none;
}

.dropbutton:focus .menu
{
	opacity: 1;
}

.queue-content
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 93.5%;
}

.queue li
{
	height: 70px;
}

.playlist
{
	width: 100%;
	display: flex;
	align-content: center;
	box-sizing: border-box;	
	padding: 10px;
	position: relative;
}


.queue 
{
	padding-left: 25px; 
	margin: 0px 2px;
}

.cover
{
	width: 3rem;
	height: 3rem;
}

.cover-image
{
	width: 3rem;
	height: 3rem;
	
}

.name
{
	margin-left: 8px;
}

.name span
{
	display: block;
	font-size: 1rem;
}

.heart
{
	font-size: 1.8rem;
	position: absolute;
	left: 85%;
}



/*scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

/*track*/

::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #1f2961; 
  border-radius: 10px;
}

#play-bar
{
    height: 126px;
    width: 99.9%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #2d2929;
    z-index: 3;
    display: none;

}

.bar-image
{
    height: 90px;
    width: 90px;
    position: absolute;
    left: 2%;
    top: 12%;
    background-image: url(images/imagine.jpg);
    background-size: cover;
}

.bar-name
{
    height: 67px;
    width: 190px;
    position: absolute;
    left: 9%;
    top: 19%;
    font-size: 15px;
}

.bar-slider
{
    height: 86px;
    width: 590px;
    position: absolute;
    left: 30%;
    top: 13%;
    font-size: 21px;
    text-align: center;
    word-spacing: 27px;
}

#slider
{
	width: 20.2rem;
}

.bar-right
{
    height: 86px;
    box-sizing: border-box;
    width: 330px;
    position: absolute;
    left: 75%;
    top: 13%;
    font-size: 22px;
    text-align: center;
    word-spacing: 10px;
    padding-top: 29px

}

#slider-two
{
	width: 7rem;
}

@media screen and (max-width: 1200px)
{

    .text
    {
    	left: 20px;
    }

    .bar-name
    {
        left: 8.2rem;
    }

    .bar-slider
    {
    	left:19.2rem;

    }

    .bar-right
    {
    	left:49.2rem;

    }

}

@media screen and (max-width: 1000px)
{
	 .text
    {
    	left: 40px;
    }

    #favourites-tab
	{
		display: none;
	}

	.two
	{
		width: 100%;
	}

	.left-side
	{
		width: 53%;
	}

	#queue-tab
	{
		display: block;
	}

	.three
	{
		display: none;
	}

	.three:target
    {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: #090921;
    position: absolute;
    top: 90px;
    left: 37px;
    }
}

@media screen and (max-width: 900px)
{
	.right-side
	{
		left:23.2rem;
		width: 54%;
	}
	.profile
	{
		margin-left: 5%;
		width: 300px;
	}

	.left-side
	{
		width: 71%;
	}


	#search-bar
	{
		width: 1000px;
	}


	#search-bar form
    {
	    width: 51px;
    }
}

@media screen and (max-width: 700px)
{
	.two
	{
		width: 650px;
	}

	.three
	{
		width: 650px !important;
	}

}


